---
import TitleSection from "../common/TitleSection.astro";
import Separator from "../common/Separator.astro";
import SubTitleSection from "../common/SubTitleSection.astro";
import ListProjects from "./ListProjects.astro";
---
<section class="py-20 md:py-40" id="projects">
    <div class="flex flex-col space-y-20 md:space-y-36 container mx-auto ">
        <div class=" flex items-center  space-y-6 flex-col ">
            <TitleSection>
                Last Projects
            </TitleSection>
            <Separator/>
            <SubTitleSection>
                Developing solutions, my journey as a developer in innovative projects
            </SubTitleSection>
        </div>
        <ListProjects/>
    </div>
</section>

