---
import TitleSection from "../common/TitleSection.astro";
import Separator from "../common/Separator.astro";
import SubTitleSection from "../common/SubTitleSection.astro";
import ListProjects from "./ListProjects.astro";
---
<section class="py-40  ">
    <div class="flex flex-col space-y-36 container mx-auto ">
        <div class=" flex items-center  space-y-6 flex-col ">
            <TitleSection>
                Last Projects
            </TitleSection>
            <Separator/>
            <SubTitleSection>
                Developing Solutions: My Journey as a Developer in Innovative Projects
            </SubTitleSection>
        </div>
        <ListProjects/>
    </div>
</section>

