---
import Download from "../../icons/Download.astro";
---
<a href="/pdf/English_CV_Yohanhs.pdf"
   target="_blank"
   class="shadow-xl flex gap-x-2 hover:brightness-110 hover:animate-pulse text-[1rem] sm:text-xl font-bold py-4 px-6 rounded-full bg-gradient-to-r from-baseColor-400 to-baseColor-600 text-white uppercase">
            <span class=" transition-transform duration-500 ease-in-out">
            <Download class="size-6 "/>
                </span>
    Download CV
</a>