---
import ButtonDownload from "./ButtonDownload.astro";
import IconSocials from "./IconSocials.astro";
---
<section class="flex justify-center items-center h-screen ">
    <div class="flex flex-col items-center gap-y-10 mt-16">
        <img class="rounded-full size-36 sm:size-52 border border-baseColor-400" src="/assets/yohanhs.jpeg"
             alt="Image perfil yohanhs" loading="lazy"/>
        <h1 class="uppercase text-[1.6rem] sm:text-5xl md:text-6xl font-black dark:text-white font-jetbrains">Hi, I'm
            Yohan
            Carlos</h1>
        <h2 class="text-[1rem] md:text-xl w-8/12 text-center font-normal text-gray-500 ">Software engineer and
            young Cuban specialized
            in modern web development with more than 10 years of experience.</h2>
        <IconSocials/>
        <ButtonDownload/>
    </div>
</section>



