---
import Separator from "../common/Separator.astro";
import ListProjects from "../projects/ListProjects.astro";
import TitleSection from "../common/TitleSection.astro";
import SubTitleSection from "../common/SubTitleSection.astro";
import ExperienceList from "./AboutArticle.astro";
import AboutArticle from "./AboutArticle.astro";
---
<section class="relative py-40 overflow-hidden" id="about-me">
    <div class="absolute top-20 size-40 z-0 opacity-50 right-20">
        <img src="/assets/decore.webp" alt="decore">
    </div>

    <div class="absolute -top-20 size-72 -left-40 z-0 opacity-50">
        <img src="/assets/decore.webp" alt="decore">
    </div>
    <div class="absolute -bottom-40 size-72 -right-32 z-0 opacity-50">
        <img src="/assets/decore.webp" alt="decore">
    </div>

    <div class="flex flex-col space-y-36 container mx-auto ">
        <div class=" flex items-center space-y-6 flex-col ">
            <TitleSection>
                About Me
            </TitleSection>
            <Separator/>
            <SubTitleSection>
                Developing Solutions: My Journey as a Developer in Innovative Projects
            </SubTitleSection>
        </div>
        <AboutArticle/>
    </div>
</section>