---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroHome from "../components/heroHome/HeroHome.astro";
import Projects from "../components/projects/Projects.astro";
import Experience from "../components/experience/Experience.astro";
import AboutMe from "../components/about/AboutMe.astro";
import Contact from "../components/contact/Contact.astro";
---
<BaseLayout title="Yohanhs">
    <main class="mx-auto dark:text-white ">
        <HeroHome/>
        <Projects/>
        <Experience/>
        <AboutMe/>
        <Contact/>

    </main>
</BaseLayout>


