---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroHome from "../components/heroHome/HeroHome.astro";
---
<BaseLayout title="Yohanhs">
    <main class="mx-auto dark:text-white  ">
        <div class="h-screen">
            sds
        </div>

    </main>
</BaseLayout>